* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    /* box-sizing: border-box; */
}

body {
    background-image: url('images/aprender-a-programar-desde-cero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}
#navBar {
    width: 100%;
    background-color: white;
    padding: 10px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

#navBar .logo {
    width: 50%;
    margin-left: 40px;
}

#navBar .linksBtns {
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    width: 100%;
    padding: 0px;
    justify-content: end;
}

li {
    font-size: 1.5rem;
    list-style: none;
    padding: 8px 0px;
    border-radius: 5px;
    margin: 0px 10px;
}

a {
    background-color: #008036;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: monospace;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid green;
    
}

#navBar img {
    width: 160px;
    height: 100px;
    padding: 5px;
    cursor: pointer;
}

.container {
    height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 50px 10px 20px;

}

.container table {
    background-color: white;
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    bottom: 50px;
    padding: 20px;
    border-collapse: collapse;
    box-shadow: 1px 2px 10px black;
}

th {
    background-color: rgba(0, 0, 0, 0.658);
}

tr:nth-child(even) {
    background-color: #ccc;
}

.container th, td {
    border: 1px solid white;
    font-size: 1.1rem;
    padding: 15px;
    width: 150px;
    color: white;
    font-weight: bolder;
    font-family: monospace;
}

td {
    color: black;
}

#footer {
    /* background-color: red; */
    bottom: 0;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
    background-color: #74ffae5b;

}


label {
    color: white;
}

label, select  {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bolder;
    outline: none;
    width: 300px;
}

.containerModal {
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009a;
    visibility: hidden;
    transition: 0.5s all;
}

.containerModal .corpoModal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.containerModal .corpoModal .linhaCircular {
    border: 10px solid #dddddd;
    width: 100px;
    height: 100px;
    padding: 50px;
    border-radius: 50%;
    border-right: 10px solid #0000009a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loading 0.7s linear infinite;
}
.linhaCircular {
    width: 100%;
    height: 100%;
    position: fixed;
} 

.corpoModal p {
    font-weight: bolder;
    font-family: monospace;
    letter-spacing: 2px;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}